.m-mirror{
	display: none;
}
.is-visible{
	.m-mirror{
		display: block;
	}
	#medium-image{
		display: none;
	}
}

video{
  height: auto!important;
  width: auto!important;
}

//states
.is-hidden{
  display: none;
}

/*
  module mirror
*/

.m-mirror{
  position: relative;
  width: 410px;
  height: 585px;
  overflow: hidden;
  padding: 20px 0;
  margin: 0 auto;
}
.m-mirror-inner{
  float: left;
  width: 350px;
  height: 360px;
  position: relative;
  overflow: hidden;
  background-color: red;
  video, .m-mirror-snapshot-holder{
    position: absolute;
    left: -175px;
    top: 0;
  }
}

.js-video{
  position: absolute;
}
.m-mirror-snapshot{

}

.m-mirror-nav{
  float: left;
  width: 60px;
}